$search-width: 200px;
$search-input-pl: 28px;
$search-icon-left: 8px;

.search-snippets-container {
    display: flex;
    align-items: center;
}

.search-snippets-container label {
    margin-right: var(--pad-5);
}

input[type="radio"] {
    accent-color: gray;
}

.search-input {
    padding: var(--pad-2);
    padding-left: $search-input-pl;
    width: $search-width;
    margin-right: var(--pad-5);
    border: 1px solid gray;
    border-radius: var(--pad-2);
    background-color: gray;
    color: white;
    font-size: medium;
    cursor: pointer;
}

.search-input:hover {
    outline: none;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container .search-icon {
    position: absolute;
    left: $search-icon-left;
}

.search-input::placeholder {
    color: white;
}

.filter-select {
    padding: var(--pad-2);
    border-radius: var(--pad-2);
    background-color: gray;
    color: white;
}